<div class="container d-flex justify-content-center align-items-center">
    <div class="card rounded-4 p-3 mb-5 shadow-lg" style="width: 30rem; margin-top: 250px;">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form (submit)="onSubmit()">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="myUserInput" [(ngModel)]="username" placeholder="Enter your username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="myPasswordInput" [(ngModel)]="password" placeholder="Enter your password">
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-block w-100">Login</button>
              </div>
             
             <div *ngIf="loginError$ | async as loginError" class="error-message">
                {{ loginError.error.message }}
              </div> 
              <!-- <div *ngIf="registrationStatus" style="margin-top: 2px;" class="error-message">
                Registration SuccessFull, Login now
              </div>  -->
            </form>
          </div>
    </div>
</div>
