<div class="container">
    <h3 class="mb-5" style="margin-top: 10px;">Category Management</h3>
    <form class="row g-4" [formGroup]="categoryForm" (submit)="onSave()">
        <div class="col">
           <label for="categoryName" class="form-label" style="font-weight: bold;" >Category Name</label>
           <input type="text" class="form-control" id="categoryName" formControlName="categoryName" placeholder="Enter Category Name">
        </div>
        <div class="col">
           <label for="categoryDescription" class="form-label" style="font-weight: bold;">Category Description</label>
           <input type="text" class="form-control" id="categoryDescription" formControlName="categoryDescription" placeholder="Category Description">
        </div>
        <div>
           <button type="submit" class="btn btn-primary btn-block w-10 ms-auto" [disabled]="isSaving"style ="margin-right: 10px;">Save Category</button>
           <button type="button" class="btn btn-primary btn-block w-10 ms-auto" [disabled]="!isSaving || isUpdating" (click)="onUpdate()" >Update Category</button>
        </div>
    </form>
    <hr style="margin-top: 15px;">
    <h4 class="mb-5">Category List</h4>
    <div class="table-container" style="height: 393px; overflow: auto;">
        <table class="table table-striped">
           <thead>
              <tr>
                 <th>Name</th>
                 <th>Description</th>
                 <th>IsDefault</th>
                 <th>Action</th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let item of categoryList.categories | paginate: { itemsPerPage: categoryList.pageSize, currentPage: categoryList.page, totalItems: categoryList.totalItems }">
                 <td>{{item.categoryName}}</td>
                 <td>{{item.categoryDescription}}</td>
                 <td>{{item.isDefault}}</td>
                 <td>
                    <button type="button" class="btn btn-primary btn-sm"  [disabled] = "item.isDefault" (click)="onEdit(item)" style ="margin-right: 10px;">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(item.categoryId)" [disabled] = "item.isDefault || isDelete" >Delete</button>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
     <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

